.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.App-header {
  background-color: #e7e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + .75vmin);
  color: #282c34;
}

.nav-item {
  font-size: 1rem;
}

.logo {
  width: 4rem;
  border-radius: 4px;
}

div.spinner-grow {
  background-color: #7cbcc6;
  width: 30rem;
  height: 30rem; 
}

.card {
  margin: 2rem .5rem 1rem;
}

.card-header {
  font-size: calc(10px + 1vmin);
  font-weight: bolder;
}

.card-img-bottom:hover {
  transition-duration: 1s;
  transform: scale(1.05);
  max-width: 100%;
  max-height: 100%;
}

.coral, .coral:hover {
  color: #FF6F61;
  text-decoration: none;
}

a:focus, .close:focus {
  outline:none !important;
}

button.dropdown-item:active {
  background-color: #7cbcc6;
}

.modal-header, .modal-footer {
  background-color: #7cbcc6;
}

@media only screen and (max-width: 415px) {
  .col-3 {
    display: none;
  }
  .logo {
    width: 2.5rem;
  }
}